*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light: #ccc;
  --med: #777;
  --dark: #111;
}

body {
  margin: 0;
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  --cols: 10;
  --rows: 10;
  width: 500px;
  height: 500px;
  border: 1px solid var(--light);
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  grid-template-rows: repeat(var(--rows), auto);
}

.start-container button {
  font-size: 1.1em;
}

.hide {
  display: none;
}

.btn {
  background-color: var(--dark);
  transition: background-color ease;
}
.btn:hover {
  background-color: var(--med);
}
.btn.selected {
  background-color: var(--light);
}

.cell {
  border: 1px solid var(--dark);
}

.cell.alive {
  background-color: var(--light);
}
