*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light: #ddd;
  --med: #777;
  --dark: #111;
  --tile-btn: #222;
  --grid-height: 90vh;
}

body {
  margin: 0;
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  --cols: 10;
  --rows: 10;
  height: var(--grid-height);
  width: var(--grid-height);
  border: 1px solid var(--light);
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  grid-template-rows: repeat(var(--rows), auto);
}

.start-container button {
  font-size: 1.1em;
}

.hide {
  display: none;
}

.btn {
  border: none;
  background-image: linear-gradient(to bottom right, black, var(--tile-btn));
  transition: background-image ease;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, var(--med), var(--med));
}
.btn.selected {
  background-image: linear-gradient(
    to bottom right,
    var(--light),
    var(--light)
  );
}

.cell {
  border: none;
  background-color: none;
}

.cell.alive {
  background-color: var(--light);
}
