*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#gameBoard {
  display: grid;
  grid-template-rows: repeat(4, 20vmin);
  grid-template-columns: repeat(4, 20vmin);
  gap: 2vmin;
  border-radius: 1vmin;
  padding: 2vmin;
  position: relative;
  background-color: #ccc;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}
